.venv/
.mypy_cache/
.env
.coverage
.hypothesis
/htmlcov

__pycache__/
*.pyc
*.pyo

.git
db.sqlite3
*.log

celerybeat-schedule

docs/
cats/tests/
simulation/tests/
pytest.ini
mypy.ini
requirements-dev.in
requirements-dev.txt
