# for development:
# - add new package here
# `pip-compile requirements-dev.in`
# `pip install -r requirements-dev.txt
-r requirements.txt
pytest==9.0.2
pytest-django==4.11.1
django-stubs==5.2.8
types-networkx==3.6.1.20251220
mypy==1.19.1
ruff==0.14.14
coverage==7.13.2